<div id="left" class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
<div id="middle" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
  <section id="settings-area-section">
    <div id="tos" class="settings tos box squished-box">

      <div class="box-padded-header" style="margin-bottom: 10px;">
        <div class="semi-bold box-header" style="margin: 0 auto;">
          <span class="very-bold">Terms of Service</span>
        </div>
      </div>

      <p>
        By using CSGOWizard.com (henceforth to be referred to as "CSGOWizard"), you acknowledge and accept these Terms of Service in full and without reservation, you are agreeing to our Terms of Service and you are responsible for compliance with any applicable laws. These Terms of Service govern your use of this website.
        <br>
        <br>
        <i>You must be at least 18 years of age to play on CSGOWizard.</i>
      </p>

      <br>
      <h4>Ownership</h4>
      <p class="tos-p">All materials on this website are intellectual property of CSGOWizard and you may not use any of the content seen here for commercial use without permission. Exclusive rights for Counter Strike: Global Offensive and its associated virtual items belong to Steam and the Valve Corporation.
      </p>
      <br>
      <h4>Acceptable Use</h4>
      <p class="tos-p">You must not use CSGOWizard in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of CSGOWizard or in any way which in unlawful, illegal, fraudulent or harmful.
      </p>
      <br>
      <h4>Item Values</h4>
      <p class="tos-p">
        You are participating in games that allow you to deposit and receive intangible items. We display a value in points to add the effect that these items have no physical value. These values are subject to change without notice. Patterns on items are not taken into account. By using CSGOWizard you are accepting our item values and there will be no refund in case of a value issue.
      </p>
      <br>
      <h4>Fee</h4>
      <p class="tos-p">CSGOWizard takes an approximate 5% fee of the total value of each game. It allows us to maintain all services related to keep CSGOWizard running. The total value of emeralds do not take the fee into account.
      </p>
      <br>
      <h4>Emeralds</h4>
      <p class="tos-p">We give you the opportunity to exchange Skins for CSGOWizard's virtual currency,
        "Emeralds". Emeralds are not real money, do not have monetary value, and may never
        be redeemed for “real world” money, or other items of monetary value from outside
        of the Service without our written permission. While we may use terms like “buy”,
        “purchase” or “sell” in reference to Emeralds, we do so only for convenience and such
        terms in no way indicate that Emeralds have monetary value or are real money.
        You acknowledge that Emeralds are not real currency and are not redeemable for
        any sum of money from us at any time. We make no guarantee as to the nature,
        quality or value of the features of the Service or any third-party goods or
        services that will be accessible through the use of Emeralds.
      </p>
      <br>
      <h4>Emerald Store</h4>
      <p class="tos-p">Counter-Strike: Global Offensive Skins may be deposited on CSGOWizard in exchange for Emeralds. Depositing Skins on CSGOWizard implies that you fully accept CSGOWizard's Skin
        valuation prices and understand that you will not receive a refund in the case of a Skin price being lower than the market value.
        You are required to wager a minimum of 30% of all Emeralds credited to your CSGOWizard account from your Skin Deposits in Emerald contests to be eligible
        to withdraw Skins from the Emerald Store. You can redeem Emeralds for Skins in the Emerald Store by creating a Trade Offer from your Steam account to a CSGOWizard bot.
        Your selected Skins will be sent to the Steam trade URL linked to your CSGOWizard account. We do not guarantee the items received by you to be identical to those in the Emerald Store. Open trade offers will be automatically
        cancelled by CSGOWizard if they are not accepted three minutes after opening by a CSGOWizard bot. If a trade offer is
        canceled by a CSGOWizard bot, we will return Emeralds into your CSGOWizard account. We are not responsible for the name tags or
        stickers attached to your Skins. CSGOWizard is not responsible for the loss of your Skins as a result of a
        third-parties including Steam.
      </p>
      <br>
      <h4>Retrieval Process</h4>
      <p class="tos-p">
        If items are lost on CSGOWizard in error, you will have to create a ticket on our Support tab and you will be refunded in value. You will not be refunded your original items as they are unaccessible while the website is live.
      </p>
      <br>
      <h4>Bans, Timeouts &amp; Conduct</h4>
      <p class="tos-p">
        CSGOWizard reserves the right to remove any user from our website with out and for any reason. Anyone attempting to scam other users will be permenantly banned from using CSGOWizard.
      </p>
      <br>
      <h4>Refunds</h4>
      <p class="tos-p">CSGOWizard does not do refunds. By playing on this website you agree that you are always playing at your own risk.</p>
      <br>
      <h4>Limitations of Liability</h4>
      <p class="tos-p">Use of our services is at your own risk. CSGOWizard, its employees and affiliates will never be held liable for your profits or losses while using this website.
        Variation
        These terms and conditions ("Terms of Service") are able to be revised and edited by CSGOWizard at any time. Revised terms and conditions will apply from their effective date once published to this website.
      </p>
      <br>
      <h4>Law and Jurisdiction</h4>
      <p class="tos-p">These terms and conditions will be governed by and construed in accordance with the laws of the Island of Antigua, and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts in the Island of Antigua.


        <br>
        <br>
        <i>CSGOWizard is not affiliated with Steam or the Valve Corporation.</i>
      </p>

    </div>
  </section>
</div>
