<div id="left" class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
<div id="middle" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
  <section id="settings-area-section">
    <div class="settings box squished-box">
      <div class="box-padded-header">
        <div class="semi-bold box-header" style="margin: 0 auto;"> <span class="very-bold">Support</span>
        </div>
      </div>
      <br>
      <h3 style="color:red;">PLEASE READ BEFORE SUBMITTING A TICKET!</h3>
      <p>Here are some common issues you may encounter:</p>
      <br>
      <h3>1. I did not receive coins for my skin!</h3>
      <p>First, please wait 10 minutes and refresh the page. If offer was accepted and coins are still not there, then you may not have steam guard mobile authenticator enabled, in which case your trade will be held in escrow for 15 days before it is sent to us - this is when you’ll receive your coins too. If you want your item back, simply go into your trade offers and cancel the trade, read more information here.</p>
      <br>
      <h3>2. I made a winning bet and did not receive my coins!</h3>
      <p>Please provide screenshots, the bet or game ID, the time of the bet, the amount of coins bet, and the multiplier bet at (if applicable) along with your Steam profile for maximum chance of recovery.</p>
      <br>
      <h3>3. I cannot redeem my promo coins!</h3>
      <p>You either do not have 8 hours played on CSGO or it has been past 24 hours since you made your account.</p>
      <br>
      <h3>4. Can I be sponsored?</h3>
      <p>We will only consider channels that get 5k+ views per video, for a faster process please DM @CSGOWizardCom on Twitter for sponsorship.</p>
      <br>
      <h3>5. Why is there an error when I am making a deposit/withdrawal?</h3>
      <p>Steam errors are on Steam's end and it means the Steam network is down. Please be patient and remake the request again later.</p>
      <br>
      <p>If you made a withdrawal and haven't received your skins yet you will get a coin refund after 10 minutes, please use steamstat.us to check if Steam is up whilst trading.</p>
      <br>
      <h3>6. Crash game lagged, can I get a refund?</h3>
      <p>No refunds will be offered to players who have encountered lag when trying to use the cash out feature on crash.</p>
      <br>
      <p>To ensure no problems will occur and a guaranteed payout, please use the auto cash out feature.</p>
      <br>
      <h3>Have a question that remains unanswered?</h3>
      <p>Contact us and we'll respond as quickly as possible.</p>
      <br>
      <p>Please click the button at the bottom right to send us a message.</p>
    </div>
  </section>
</div>
